.section-footer {
    /* border: 3px solid black; */

    padding: 60px 15px;

    background-image: url(../image/images/footer-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-crow {
    /* box-sizing: border-box; */
    margin-left: -15px;
    margin-right: -15px;

    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-crow {
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .footer-crow {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        box-sizing: border-box;
    }
}

.footer-col__left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-col__left {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .footer-col__left {
        width: 50%;
    }
}

img {
    max-width: 100%;
}
@media only screen and (min-width: 768px) {
    .img {
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .img {
        width: 50%;
    }
}

.footer-icon {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .footer-icon {
        justify-content: flex-start;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .footer-icon {
        justify-content: flex-start;
        text-align: left;
    }
}

.footer-icon li {
    color: #b8b8b8;
    margin-right: 20px;
}
.footer-icon i {
    font-size: 14px;
    color: #b8b8b8;
}

.footer-col__right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

@media only screen and (min-width: 992px) {
    .footer-col__right {
        width: 50%;
    }
}

.footer-col__link {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-flow: row nowrap;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .footer-col__link {
        justify-content: flex-start;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .footer-col__link {
        justify-content: flex-end;
        text-align: right;
    }
}

.footer-col__link li {
    /* border: 1px solid red; */
    padding: 20px 10px 0 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}

.footer-col__link li a {
    text-decoration: none;
    color: #474747;
}

.footer-col__link a:hover,
.footer-col__link li.active a {
    color: #fe2a6b;
}

.footer-col__text {
    /* border: 1px solid red; */
    color: #838383;
    font-size: 14.1px;
    line-height: 2.1;
    padding-top: 10px;

    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-col__text {
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .footer-col__text {
        text-align: right;
    }
}

.footer-col__text a {
    color: #007bff;
    text-decoration: none;
}
