/* section home-recipe */
/* ******************* */

.home-hero {
    background-image: url(../image/images/slider-bg-2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-hero__title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    height: 694px;
}

.home-hero__title h1 {
    z-index: 3;

    transform: rotate(4deg);
    transition: all 0.55;
    animation-name: healthy;
    animation-duration: 2s;
}

@keyframes healthy {
    from {
        transform: rotate(4deg);
        transform: scale(0.2);
        opacity: 0;
    }

    80% {
        transform: rotate(4deg);
        opacity: 1;
    }
    to {
        transform: rotate(4deg);
        transform: scale(1);
    }
}

.home-hero__title h2 {
    z-index: 4;

    animation-name: chef;
    transition: all 0.55;
    animation-duration: 3s;
}

@keyframes chef {
    from {
        transform: scale(0.2);
        opacity: 0;
        animation-delay: 2s;
    }

    80% {
        opacity: 1;
    }
    to {
        transform: scale(1);
    }
}

.home-hero__title h3 {
    z-index: 5;

    animation-name: foody;
    transition: all 0.55;
    animation-duration: 4s;
}

@keyframes foody {
    from {
        transform: scale(0.2);
        opacity: 0;
        animation-delay: 2s;
    }

    80% {
        opacity: 1;
    }
    to {
        transform: scale(1);
    }
}

.home-hero__title h1 span {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: -1px -5px 20px 0 rgba(0, 0, 0, 0.3);

    background-color: #ff2a6b;
    color: #fff;

    font-size: 40px;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .home-hero__title h1 span {
        font-size: 60px;
    }
}
@media only screen and (min-width: 992px) {
    .home-hero__title h1 span {
        font-size: 72px;
    }
}

.home-hero__title h2 span {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: -1px -5px 20px 0 rgba(0, 0, 0, 0.3);

    background-color: #fdc856;
    color: #fff;

    font-size: 30px;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .home-hero__title h2 span {
        font-size: 45px;
    }
}
@media only screen and (min-width: 992px) {
    .home-hero__title h2 span {
        font-size: 48px;
    }
}

.home-hero__title h3 span {
    display: inline-block;
    padding: 10px 28px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: -1px -5px 20px 0 rgba(0, 0, 0, 0.3);

    background-color: #bdde64;
    color: #fff;

    font-size: 20px;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .home-hero__title h3 span {
        font-size: 35px;
    }
}
@media only screen and (min-width: 992px) {
    .home-hero__title h3 span {
        font-size: 36px;
    }
}

/* ............... */
/* section RECIPES */
/* ............... */

/* ***** */
/* roww1 */
.home-recipe {
    /* border: 1px solid hotpink; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.recipes-row {
    position: relative;

    margin-left: -15px;
    margin-right: -15px;
}

.recipes-h2 {
    /* border: 1px solid red; */
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.recipes-h2 h2 {
    font-size: 36px;
    font-weight: 700;
}
.recipes-h2::before {
    content: "";
    width: 60px;
    height: 5px;
    /* border: 1px solid yellow; */
    background-color: #fe2a6b;
    position: absolute;
    left: 15px;
    top: 0;
}

.recipes-h2::after {
    content: "";

    position: absolute;
    top: 0;
    left: 75px;

    width: 0;
    height: 0;
    border-top: 5px solid #ff2a6b;
    border-right: 10px solid transparent;
}

/* ***** */
/* roww2 */

.recipes-row__food-ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.recipes-row__food {
    padding-left: 15px;
    padding-right: 15px;
}
.recipes-row__food-ul > li {
    padding: 15px;
}
.recipes-row__relative {
    position: relative;
}

.recipes-row__relative img {
    vertical-align: middle;
}

.recipes-absolute {
    /* border: 1px solid purple; */
    background-color: #fe2a6b;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 80%;
    padding: 17px 25px 15px 25px;
}

.recipes-absolute::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1.8rem;

    width: 0;
    height: 0;
    border-top: 4.04rem solid #ff2a6b;
    border-right: 1.85rem solid transparent;
}

.recipes-absolute h3 {
    /* border: 1px solid black; */
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.recipes-row__start {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
}

.recipes-row__start i {
    /* border: 1px solid black; */
    color: yellow;
    font-size: 11px;
}

.recipes-row__start .white {
    color: white;
}

/* section home-order */
/* ******************* */
.home-order {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f7fb;
}

.home-order__row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    margin-right: -15px;
    margin-left: -15px;
}

.top-rated__recipes-col1 h3 {
    /* border: 1px solid green; */
    padding-top: 18px;
    margin-bottom: 48px;

    color: #474747;

    font-size: 30px;
    font-weight: 700;
    font-family: inherit;
}

.top-rated__recipes-col1 {
    position: relative;

    padding-left: 15px;
    padding-right: 15px;
}

.top-rated__recipes-col1::before {
    content: "";
    width: 60px;
    height: 5px;
    /* border: 1px solid yellow; */
    background-color: #fe2a6b;
    position: absolute;
    left: 15px;
    top: 0;
}

.top-rated__recipes-col1::after {
    content: "";

    position: absolute;
    top: 0;
    left: 75px;

    width: 0;
    height: 0;
    border-top: 5px solid #ff2a6b;
    border-right: 10px solid transparent;
}

.top-rated__recipes-list {
    display: flex;

    margin-bottom: 22px;
}

.top-rated__recipes-list img {
    width: 77px;
    height: 77px;
}

.home-order__start {
    /* border: 1px solid green; */
    padding-left: 15px;
}

.home-order__start p {
    color: #ff2a6b;

    font-size: 12px;
    font-weight: 500;
}
.home-order__start h5 {
    padding-top: 2x;
    margin-bottom: 12px;

    color: #474747;

    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
}

ul.home-start {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse nowrap;

    color: #aaaaaa;
}
ul.home-start > li {
    font-size: 11px;

    transition: all 0.25s;
}
.home-start li:hover,
.home-start li:hover ~ li {
    color: #fdc856;
}

.most-liked__recipes-col2 h3 {
    /* border: 1px solid green; */
    padding-top: 18px;
    margin-bottom: 48px;

    color: #474747;

    font-size: 30px;
    font-weight: 700;
    font-family: inherit;
}
.most-liked__recipes-col2 {
    position: relative;

    padding-left: 15px;
    padding-right: 15px;
}

.most-liked__recipes-col2::before {
    content: "";
    width: 60px;
    height: 5px;
    /* border: 1px solid yellow; */
    background-color: #fe2a6b;
    position: absolute;
    left: 15px;
    top: 0;
}

.most-liked__recipes-col2::after {
    content: "";

    position: absolute;
    top: 0;
    left: 75px;

    width: 0;
    height: 0;
    border-top: 5px solid #ff2a6b;
    border-right: 10px solid transparent;
}

.most-liked__recipes-list {
    display: flex;

    margin-bottom: 22px;
}

.most-liked__recipes-list img {
    width: 77px;
    height: 77px;
}

.home-order__col3 {
    /* border: 1px solid yellow; */
    position: relative;

    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.home-order__absolute-1 {
    position: absolute;
    top: 0;
    left: 15px;

    padding: 15px 24px 15px 30px;

    background-color: #ff2a6b;
    color: #fff;

    font-size: 14px;
}

.home-order__absolute-1::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;

    width: 0;
    height: 0;
    border-top: 52px solid #ff2a6b;
    border-right: 30px solid transparent;
}

.home-order__absolute-2 {
    position: relative;

    padding: 48px 40px 45px 40px;

    background-color: #fff;

    box-shadow: 0 17px 29px rgba(0, 0, 0, 0.15);
}

.home-order__absolute-2 h5 {
    margin-bottom: 10px;

    color: #474747;

    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
}
.home-order__absolute-2 h6 {
    margin-bottom: 20px;

    color: #ff2a6b;

    font-size: 14px;
    font-weight: 500;
}

.home-order__absolute-2 p {
    padding-bottom: 16px;

    color: #838383;

    font-size: 14.1px;
    line-height: 2.1;
}

.home-order__absolute-2 a {
    color: #474747;

    font-size: 12px;
    text-decoration: none;
}

.home-order__absolute-2 a i {
    position: absolute;
    right: 0px;
    bottom: 0px;

    padding: 12px 18px;

    background-color: #ff2a6b;
    color: #fff;

    font-size: 23px;
}
/* section home-review */
/* ******************* */

.home-review {
    background-color: #fdc856;
}

.home-review__row {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.home-review__col {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}

.home-review__col-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

    background-color: #fff;
    margin: 10px 15px;
}

.home-review__col-reletive {
    position: relative;
    /* border: 1px solid green; */
}

.home-review__col-reletive img {
    width: 180px;
    height: auto;

    vertical-align: middle;
}

.home-review__absolute-1 {
    position: absolute;
    top: 0;
    left: 81px;

    padding: 9px 2px 8px 13px;

    background-color: #ff2a6b;
    color: #fff;

    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .home-review__absolute-1 {
        left: 0;
    }
}

.home-review__absolute-1::before {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;

    width: 0;
    height: 0;
    border-top: 39px solid #ff2a6b;
    border-right: 30px solid transparent;
}

.home-review__col-start {
    height: auto;
    padding-top: 25px;
    padding-left: 15px;

    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .home-review__start {
        text-align: left;
    }
}

.home-review__start p {
    color: #ff2a6b;

    font-size: 12px;
    font-weight: 500;
}
.home-review__start h5 {
    margin-bottom: 10px;

    color: #474747;

    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
}
.home-review__start i {
    margin-bottom: 15px;
}

.home-review__chef {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .home-review__chef {
        justify-content: left;
    }
}

/* Large */

.home-review__chef img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.home-review__chef h6 {
    padding-top: 4px;
    padding-left: 15px;

    color: #838383;

    font-size: 14.1px;
    line-height: 2.1;
}
@media only screen and (min-width: 768px) {
    .home-review__chef h6 {
        text-align: left;
    }
}
