/* ............... */
/* section HERO */
/* ............... */
.hero-recipes {
    background-image: url(../image/images/page-top-bg.jpg);
    background-position: top center;
    background-size: cover;

    padding: 68px 0;
    text-align: center;
}
h1 {
    display: inline-block;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    padding: 5px 30px;

    border-radius: 4px;
    text-align: center;

    background-color: #fe2a6b;
    box-shadow: 0 90px 100px rbga(0, 0, 0, 0, 0.4);
}

/* anmation */
/* ********* */
.recipes-h1 {
    animation-name: recipes-h1;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes recipes-h1 {
    from {
        transform: scale(0.2);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: scale(1);
    }
}

/* ............... */
/* section RECIPES */
/* ............... */

/* ***** */
/* roww1 */
.recipes {
    /* border: 1px solid hotpink; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.recipes-row {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.recipes-h2 {
    /* border: 1px solid red; */
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.recipes-h2 h2 {
    font-size: 36px;
    font-weight: 700;
}
.recipes-h2::before {
    content: "";
    width: 60px;
    height: 5px;
    /* border: 1px solid yellow; */
    background-color: #fe2a6b;
    position: absolute;
    left: 15px;
    top: 0;
}

.recipes-h2::after {
    content: "";

    position: absolute;
    top: 0;
    left: 75px;

    width: 0;
    height: 0;
    border-top: 5px solid #ff2a6b;
    border-right: 10px solid transparent;
}

/* ***** */
/* roww2 */

.recipes-row__food-ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.recipes-row__food-ul > li {
    padding: 15px;
}
.recipes-row__relative {
    position: relative;
}

.recipes-row__relative img {
    vertical-align: middle;
}

.recipes-absolute-col {
    /* border: 1px solid purple; */
    background-color: #fe2a6b;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    padding: 1rem 1.56rem 1rem 1.56rem;
}

.recipes-absolute-col::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1.9rem;

    width: 0;
    height: 0;
    border-top: 4.9rem solid #ff2a6b;
    border-right: 1.9rem solid transparent;
}

.recipes-absolute-col h3 {
    /* border: 1px solid black; */
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
ul.recipes-row__start {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
}

ul.recipes-row__start > li i {
    /* border: 1px solid black; */
    color: yellow;
    font-size: 11px;
}
.recipes-row__start .white {
    color: white;
}

/* row-3 */
/* ********* */
.recipes-row__number {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;

    padding-top: 70px;
}

.recipes-row__number span {
    width: 48px;
    padding: 13px 13px;
    margin-right: 4px;
    text-align: center;
    background-color: #fe2a6b;
    color: #fff;

    font-size: 16px;
    font-weight: 700;
}
.recipes-row__number a {
    width: 48px;
    padding: 13px 13px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    color: #fff;

    font-size: 16px;
    font-weight: 700;
}
