/* ............... */
/* section view */
/* ............... */
.view {
    background-image: url(../image/images/recipes/6.jpg);
    height: 767px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
/* ............... */
/* section recipe-detail */
/* ............... */
.recipe-detail {
    padding-top: 64px;
    padding-bottom: 70px;
}

.recipe-detail__row {
    margin-left: -15px;
    margin-right: -15px;
}

/* row-1 */
/* ******** */
.recipe-detail__row-1 {
    padding-left: 15px;
    padding-right: 15px;
}

.beggier {
    position: relative;

    display: inline-block;

    margin-bottom: 10px;
    padding: 14px 20px 12px 30px;

    background-color: #ff2a6b;

    color: #fff;

    font-size: 16px;
}

.beggier ::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 50px solid #ff2a6b;
    border-right: 20px solid transparent;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #474747;
}

.date {
    font-size: 14px;
    color: #a4a4a4;
    margin-bottom: 30px;
}

.recipe-start {
    display: flex;
    margin-bottom: 55px;
}
.recipe-start i {
    margin-right: 2px;
    color: #fbb710;

    font-size: 14px;
}
.recipe-start .active {
    color: #e0e3e4;

    font-size: 14px;
}

/* row-2 */
/* ******** */
.recipe-detail__row-2 {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.recipe-detail__col1 {
    padding-left: 15px;
    padding-right: 15px;

    background-color: #eff3f7;
}
.recipe-detail__absolute {
    position: relative;

    display: inline-block;
    padding: 22px 50px;

    background-color: #ff2a6b;
    color: #fff;

    font-size: 15px;
    line-height: 2.1;
    z-index: 1;
}

.recipe-detail__absolute ::after {
    content: "";
    position: absolute;
    top: 0;
    right: -130px;
    width: 0;
    height: 0;
    border-top: 138px solid #ff2a6b;
    border-right: 130px solid transparent;
}

.recipe-detail__form {
    padding: 55px 15px 55px 30px;
}

.recipe-detail__form h2 {
    margin-bottom: 35px;

    color: #474747;

    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    font-family: inherit;
}

.form-check {
    margin-bottom: 25px;
}

label {
    padding: 2px 0 8px 15px;
}

input[type="checkbox"] {
    position: relative;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

input[type="checkbox"]:checked::before {
    background-color: #ff2a6b;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    height: 8px;
    width: 4px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;

    transform: rotate(30deg);
}

ul.recipe-detail__col2 {
    padding-left: 15px;
    padding-right: 15px;
}

ul.recipe-detail__col2 li {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-bottom: 30px;
}

ul.recipe-detail__col2 h3 {
    color: #474747;

    font-size: 26px;
    font-weight: 600;
}

ul.recipe-detail__col2 p {
    display: block;
    padding-top: 13px;
    padding-left: 15px;

    color: #838383;

    font-size: 14px;
    line-height: 2.1;
}
